@model PWEB01B.Models.Pasa

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Pasa</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CineId)
    @*
        @Html.HiddenFor(model => model.PeliculaId)

        @Html.HiddenFor(model => model.TandaId)
    <div class="form-group">
        @Html.LabelFor(model => model.CineId, "Cinema", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CineId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CineId, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.PeliculaId, "Pelicula", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PeliculaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PeliculaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TandaId, "Tanda", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TandaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TandaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
